{{left_sidebar_enabled  = True}}
{{right_sidebar_enabled = False}}

{{extend  "layout.html"}}

<form  action="" enctype="multipart/form-data" method="post">
    <input type='hidden' id='action' name='action' value='submit' />
    <br />
    <h4 align='center'>{{=BEAUTIFY('Cria Mensagens para Entidades')}}</h4>
    <h4 align='center'>{{=XML('Aplicacao: %s' % aplicacao)}}</h4>
    {{if mensagens:}}
        <hr />
        <h5>Resultado:</h5>
        <ul>
            {{for mensagem in mensagens:}}
                <li>{{=mensagem}}</li>
            {{pass}}
        </ul>
    {{pass}}
    <hr />
    <table>
        <tr>
            <td width=999 align="left">
                {{=A(T('Clear'),_class='button',_href=URL('clear'))}}
            </td>
            {{if session.aplicacao_id:}}
                <td width=999 align="right">
                    {{=A(T('Aplicar'),_class='button',_href=URL('aplicar'))}}
                </td>
            {{pass}}
        </tr>
    </table>
</form>

