<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->
  <head>
    <meta charset="utf-8" />
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->
    <!-- Always force latest IE rendering engine
     (even in intranet) & Chrome Frame
     Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}" />
    <!-- Speaking of Google, don't forget to set your site up:
     http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />
    <!--  Mobile Viewport Fix
      j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
      device-width: Occupy full width of the screen in its current orientation
      initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
      maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
      -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="{{=URL('static','css/handheld.css')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script>
    {{#------  require CSS and JS files for this page (read info in base.css) ------}}
    {{response.files.append(URL('static','css/base.css'))}}
    {{response.files.append(URL('static','css/scroll.css'))}}
    {{response.files.append(URL('static','js/jquery.maskedinput-1.3.min.js'))}}
    {{response.files.append(URL('static','js/atools.js'))}}
    {{response.files.append(URL('static','js/swfupload.js'))}}
    {{response.files.append(URL('static','js/swfupload.queue.js'))}}
    {{response.files.append(URL('static','js/fileprogress.js'))}}
    {{response.files.append(URL('static','js/handlers.js'))}}
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{include 'web2py_ajax.html'}}
    {{
    #using sidebars need to know what sidebar you want to use
    #prior of using it, because of static width size of content, you can use
    #left_sidebar, right_sidebar, both or none (False left and right)
    left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
    if left_sidebar_enabled and right_sidebar_enabled: width_content='68%'
    elif left_sidebar_enabled != right_sidebar_enabled: width_content='68%'
    else: width_content='100%'
    if left_sidebar_enabled: left_sidebar_style = 'style="display: block;width: 32%"'
    else: left_sidebar_style = 'style="display: none;"'
    if right_sidebar_enabled: right_sidebar_style = 'style="display: block;"'
    else: right_sidebar_style = 'style="display: none;"'
    style_content = 'style="width: %s"' % width_content
    }}
  </head>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
	  <script type="text/javascript">
	    jQuery(document).ready(function(){
	        jQuery('input.chk_all').attr('onClick',
	            "if(this.checked) {" +
	                "jQuery('input.chk_id').each(function(){" +
	                    "this.checked=true;" +
	                "});" +
	            "} else {"+
	                "jQuery('input.chk_id').each(function(){" +
	                    "this.checked=false;" +
	                "});" +
	            "}");
             {{if (session.reload or False):}}
                   {{session.reload = False}}
                   jQuery(window).unload(function(){
                       {{if  not (session.href or ''):}}
                             window.opener.location.reload(true);
                       {{else:}}
                             window.opener.location.href = "{{=session.href}}";
                       {{pass}}
                       return false;
                   });
             {{pass}}
	    });
	  </script>
	  <div class="flash">{{=response.flash or ''}}</div> <!-- notification div -->
	  <div id="container">
                  {{if left_sidebar_enabled:}}
                       <div id="left_sidebar" {{=XML(left_sidebar_style)}} >
                            <div style="padding: 4px;">
                                 {{if  response.tipoMenu == 'dtree':}}
                                       {{=dtree().menu(response.dtree)}}
                                 {{pass}}
                                 {{if  response.tipoMenu == 'etree':}}
                                       {{=etree().menu(response.etree)}}
                                 {{pass}}
                                 {{if  response.tipoMenu == 'wtree':}}
                                       {{=wtree().menu(response.wtree)}}
                                 {{pass}}
                            </div>
                            {{=response.custom or ''}}
                            {{=response.search or ''}}
                       </div><!-- left_sidebar -->
                  {{pass}}
	       <!-- content -->
	            <div id="content" {{=XML(style_content)}} >
	                 {{=H1(response.mensagem) if response.mensagem else ''}}
	                 {{include}}
	            </div>
	       <!-- content -->
                  {{if right_sidebar_enabled:}}
                       <div id="right_sidebar" {{=XML(right_sidebar_style)}} >
                            <div style="padding: 4px;">
                            {{=response.right or ''}}
                            </div>
                       </div><!-- right_sidebar -->
                  {{pass}}
	  </div><!-- container -->
  </body>
</html>
