body
{
	font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Garamond, sans-serif, serif;
}

div.menuWin
{
		width: 200px;
		border: 1px solid #000000;
}

div.menuWin a
{
		display: block;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0px;
		border: 0px;
		line-height: 20px;
		color: #000000;
		text-decoration: none;
		outline: none;
}

* html div.menuWin a { height: 1%; }

div.menuWin a:hover
{
	background-color: #000066;
    color: #FFFFFF;
}

ul.menuWin-body
{
		margin: 0px;
		padding: 0px;
		width: 200px;
}

ul.menuWin-body li
{
		display: block;
		margin: 0px;
		padding: 0px;
		list-style: none;
		clear: both;
}

ul.menuWin-body li div
{
		width: 20px;
		float: left;
		margin: 0px;
		margin-right: 5px;
		padding: 0px;
}

ul.menuWin-body li img
{
		margin: 2px;
		width: 16px;
		height: 16px;
		padding: 0px;
		border: 0px;
		vertical-align: middle;
}

span.menuWin-arrow
{	
		display: block;
		width: 198px;
		position : absolute;
		text-align: right;
}

span.menuWin-arrow img
{
		padding: 3px 2px;
		cursor: pointer;
		width: 15px;
		height: 15px;
}

span.menuWin-header
{
		display: block;
		margin: 0px;
		padding: 0px;
		padding-left: 5px;
		line-height: 22px;
		color: #FFFFFF;
		font-weight: bold;
		background-color: #000000;
}